.map {
  display: flex;
  flex-wrap: wrap;
  font-weight: light;

}

.App {
display: flex;
flex-direction: column;
background-color: #494D5F;
color: white;
font-weight: light;

}


section {
  display: grid;
  grid-auto-flow: column;
  color: white;
  font-weight: light;

}



