.map {
  display: flex;
  flex-wrap: wrap;
}

.App {
display: flex;
flex-direction: column;
background-color: #494D5F;
color: white;
}


section {
  display: grid;
  grid-auto-flow: column;
  color: white;
}




