nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;height: 50px;
  grid-column: span 2;
  background-color: #8076a3;
  color: white;
}

.doctors {
  font-size: 30px;
  margin: 10px;
  color: white;
  font-weight: light;
}

.cancers {
  font-size: 30px;
  margin: 10px;
  color: white;
  font-weight: light;
}

.health {
  font-size: 30px;
  margin: 10px;
  color: white;
  font-weight: light;
}

.diet {
  font-size: 30px;
  margin: 10px;
  color: white;
  font-weight: light;
}

.mental {
  font-size: 30px;
  margin: 10px;
  color: white;
  font-weight: light;
}

.supplements {
  font-weight: light;
  font-size: 30px;
  margin: 10px;
  color: white;
}